<h1>All About "Coke"</h1>

<% if flash[:error].present? %>
  <div>
    <%= flash[:error] %>
  </div>
<% end %>

<%= button_to "Fetch more tweets",
  controller: :landing,
  action: :fetch_more_tweets,
  method: :post %>

<div class='tweets-list'>
  <% tweets.each do |tweet| %>
    <div class='tweet-container'>
      <%= tweet.message %>
    </div>
  <% end %>
</div>