<h1>All About "Coke"</h1>

<%= button_to "Fetch more tweets",
  controller: :landing,
  action: :fetch_more_tweets,
  method: :post %>

<% if flash[:error].present? %>
  <p>
    <%= flash[:error] %>
  </p>
<% end %>

<div class="tweets-list">
  <% tweets.each do |tweet| %>
    <%= render partial: 'tweet', locals: { tweet: tweet } %>
  <% end %>
</div>